
.hero-section {
    min-height: 891px;
    position: relative;
    z-index: 3;
}

.hero-video {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    left: 0;
    top: 0;

}

.hero-video::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    border-radius: 0 0 30px 30px;

}


.videoPlayer {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 0 30px 30px;
    pointer-events: none;
    object-position: left top;
}


.hero-body {
    padding-top: 506px;
}

.hero-title {
    font-family: 'Vetrino';
    font-weight: 400;
    font-size: 70px;
    line-height: 115%;
    letter-spacing: -1px;
    text-align: center;
    color: var(--wheat);
    transform: translateY(100px);
    transition: transform 1s ease, opacity 1s ease;
    opacity: 0;
}


.hero-section.active .hero-title {
    opacity: 1;
    transform: translateX(0);
}

.hero-bnt {
    margin-top: 54px;
    border: 2px solid var(--wheat);
    padding: 20px 60px;
    background: transparent;
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 115%;
    text-align: center;
    text-transform: uppercase;
    color: var(--wheat);
    transition: .3s;

}

.hero-bnt:hover {
    background: var(--black);
}

.hero-tag {
    position: fixed;
    max-width: 100px;
    width: 100%;
    background: var(--dark-wheat);
    height: 100px;
    border: 1px solid var(--wheat2);
    right: 0;
    border-radius: 28px 0 0 28px;
    cursor: pointer;
    z-index: 10;
    transition: .3s;

}


.hero-tag:hover {
    background: var(--black);
    border: 1px solid transparent;

}

.hero-tag:hover .icon-phone {
    background: var(--wheat);

}

.hero-tag:hover.hero-record {
    color: var(--wheat);

}

.hero-phone {
    top: 604px;
}

.hero-record {
    top: 733px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14.29px;
    line-height: 100%;
    text-align: right;
    text-transform: uppercase;
    color: var(--black);
    transition: .3s;

}

.icon-phone {
    background: var(--black);
    font-size: 35px;
    transition: .3s;

}


.apps-section {
    min-height: 978px;

}

.apps-body.active .apps-info {
    opacity: 1;
    transform: translateX(0);
}

.apps-body.active .apps-media {
    opacity: 1;
    transform: translateX(0);
}

.apps-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;


}

.apps-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;

}


.apps-body {
    gap: 170px;
}

.apps-info {
    max-width: 630px;
    width: 100%;
    transform: translateX(-200px);
    transition: transform 1s ease, opacity 1s ease;
    opacity: 0;
}

.apps-title {
    font-family: 'Snell Roundhand';
    font-weight: 500;
    font-size: 64px;
    color: var(--gray);
    line-height: 100%;

}

.apps-texts {
    margin-top: 98px;
}

.apps-texts p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: var(--gray);

}

.apps-texts p:last-child {
    margin-top: 20px;
}

.app-download-methods {
    margin-top: 98px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.app-download-methods > :not(:last-child) {
    margin-bottom: 22px;
}

.download-method img {
    max-width: 180px;
    width: 100%;
    height: 42px;
}

.download-method {
    background: var(--wheat3);
    border: 2px solid var(--gray);
    max-width: 386px;
    width: 100%;
    height: 61px;
    border-radius: 10px;
}

.apps-media {
    max-width: 387px;
    width: 100%;
    height: 738px;
    transform: translateX(200px);
    transition: transform 1s ease, opacity 1s ease;
    opacity: 0;
}

.apps-media img {
    object-fit: cover;
}

.massages-section {
    min-height: 1006px;
}


.massages-bg {
    position: absolute;
    left: -1px;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.massages-bg img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    object-position: 0;

}

.SPA-massages-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.SPA-massages-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0;
}

.massages-slide-title {
    margin-top: 42px;
}

.massages-slide {
    position: relative;
    z-index: 2;
    padding-bottom: 20px;
}


.massages-slide-text {
    margin-top: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: normal;
    color: var(--gray);
    flex: 1 1 auto;

}

.massages-slide {
    min-height: 668px;
}

.massages-slide-prices {
    margin-top: 0;
}

.massages-slider {
    overflow: hidden;
}


.massages-cart-img {
    max-width: 233px;
    height: 234px;
    width: 100%;
    position: relative;

}

.massages-cart-img img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;

}


.massages-body {
    position: relative;
}

.SPA-programs-section {
    min-height: 866px;
}

.programs-section{
    position: relative;
    z-index: 2;
}
.programs-bg{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.programs-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius:30px;
    object-position: 0;

}

.programs-slide {
    cursor: pointer;
    transition: transform 0.5s ease, opacity 0.5s ease;
    position: relative;
    min-height: 584px;
}
.programs-video{
    width: 100%;
    height: 720px;
    position: relative;
    z-index: 2;
    border: 1px solid var(--dark-wheat);
    border-radius: 30px;
    margin-top: 120px;
}
.programs-video video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    object-fit: cover;
    z-index: -1;
    cursor: pointer;

}
.programs-play-icon{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    z-index: 1;
    max-width: 130px;
    height: 81px;
    cursor: pointer;
    transition: .3s;
}
.programs-play-icon:hover{
    opacity: 0.8;
}
.video-fon{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    z-index: -1;
}
.video-fon img{
    object-fit: cover;
    border-radius: 30px;
    width: 100%;
    height: 100%;
}
.programs-container {
    position: relative;
    overflow: hidden;
    perspective: 1000px;

}

.programs-slide, .programs-text-slide {
    backface-visibility: hidden;
    transition: transform 0.6s ease-in-out;
}


.programs-slide-container {
    position: relative;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    transition: .3s;
    padding-bottom: 5px;
}



.programs-text-slide {
    background: var(--wheat3);
    border-radius: 30px;
    padding: 20px 20px 0 20px;
    cursor: pointer;
    max-height: 569px;
    overflow: auto;
    transition: opacity 0.5s ease, transform 0.5s ease, max-height 0.5s ease;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    transform: rotateY(180deg);

    -webkit-mask-image: linear-gradient(to bottom, transparent 0px, black 5px, black 100%);
    mask-image: linear-gradient(to bottom, transparent 0px, black 5px, black 100%);

}


.programs-slide-container.flipped .programs-slide {
    transform: rotateY(180deg);
}

.programs-slide-container.flipped .programs-text-slide {
    transform: rotateY(0deg);
}


/*.programs-text-slide::-webkit-scrollbar {*/
/*    width: 4px;*/

/*}*/

/*.programs-text-slide::-webkit-scrollbar-thumb {*/
/*    border-radius: 4px;*/
/*    background: var(--wheat);*/

/*}*/


/* Кастомный скроллбар */
.programs-text-slide::-webkit-scrollbar {
    width: 8px; /* Узкий скролл */
    border-radius: 200px; /* Делаем края мягкими */
    height: 20% !important;
}

.programs-text-slide::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1); /* Цвет фона */
    border-radius: 10px;
}

.programs-text-slide::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3); /* Цвет полоски */
    border-radius: 10px; /* Скругляем края */
}

.programs-text-slide::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.5); /* Затемняем при наведении */
}


.text-slide-title {
    font-family: 'Snell Roundhand', sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 30px;
    line-height: 100%;
    color: var(--gray);
    text-align: center;

}

.slide-sub-title {
    font-family: 'Snell Roundhand', sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 24px;
    line-height: 100%;
    color: var(--gray);
    text-align: center;

}

.text-slide-texts p {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: var(--gray);

}

.text-slide-texts > :not(:last-child) {
    margin: 0 0 15px 0;
}

.text-slide-texts {
    margin-top: 10px;
    padding-bottom: 20px;

}

.programs-slide-texts {
    margin-top: 12px;
    flex: 1 1 auto;
}

.programs-slide-texts p {
    font-weight: 300;
    font-size: 14px;
    line-height: 100%;
    color: var(--gray);
    position: relative;
    margin-left: 20px;


}

.programs-slide-texts p::after {
    content: "";
    position: absolute;
    left: -15px;
    top: 4px;
    width: 4px;
    height: 4px;
    background: var(--gray);
    border-radius: 50%;

}

.text-small {
    line-height: 100%;
    font-size: 13px;
}


.programs-title {
    color: var(--gray);
}

.programs-body {
    position: relative;
}

.programs-body-heir {
    position: relative;
    margin-top: 120px;
}

.programs-body.active .slide-cart {
    opacity: 1;
    transform: translateY(0);
}
.programs-body-heir.active .slide-cart {
    opacity: 1;
    transform: translateY(0);
}
.steaming-body.active .slide-cart {
    opacity: 1;
    transform: translateY(0);
}

.steaming-body {
    position: relative;
}

.programs-slider {
    overflow: hidden;
    padding: 20px 10px;
}

.massages-pagination {
    position: initial !important;
    margin-top: 20px !important;
}


.massages-pagination .swiper-pagination-bullet {
    width: 8px !important;
    height: 8px !important;
    opacity: 1 !important;
    background: var(--gray) !important;

}

.massages-pagination .swiper-pagination-bullet-active {
    background: var(--dark-wheat) !important;
}


.steaming-pagination{
    position: initial !important;
    margin-top: 20px !important;
}
.steaming-pagination .swiper-pagination-bullet {
    width: 8px !important;
    height: 8px !important;
    opacity: 1 !important;
    background: var(--white2) !important;

}
.steaming-pagination .swiper-pagination-bullet-active {
    background: var(--wheat) !important;
}




.steaming-pagination .swiper-pagination-bullet-active {
    background: var(--wheat) !important;
}
.steaming-pagination .swiper-pagination-bullet {
    width: 8px !important;
    height: 8px !important;
    opacity: 1 !important;
    background: var(--white2) !important;

}

.steaming-pagination .swiper-pagination-bullet-active {
    background: var(--wheat) !important;
}


.programs-pagination {
    position: initial !important;
    margin-top: 20px !important;
}


.programs-pagination .swiper-pagination-bullet {
    width: 8px !important;
    height: 8px !important;
    opacity: 1 !important;
    background: var(--white2) !important;

}
.gallery-pagination {
    position: initial !important;
    margin-top: 20px !important;
}


.gallery-pagination .swiper-pagination-bullet {
    width: 8px !important;
    height: 8px !important;
    opacity: 1 !important;
    background: var(--white) !important;

}
.gallery-pagination .swiper-pagination-bullet-active {
    background: rgba(179, 172, 154, 1) !important;
}


.steaming-section {
    min-height: 866px;

}

.dark-bg-pagination .swiper-pagination-bullet {
    background: var(--gray) !important;

}


.dark-bg-pagination .swiper-pagination-bullet-active {
    background: rgba(175, 153, 129, 1) !important;
}

.steaming-slide {
    min-height: 540px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 2;
    border-radius: 30px;

}

.steaming-slide-img {
    position: relative;
    z-index: 2;
}

.steaming-slide-img img {
    border-radius: 110px;
}

.steaming-slide-decor {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.steaming-slide-decor img {
    height: 100%;
    width: 100%;
    border-radius: 30px;

}


.steaming-slide.slide-cart-img img {
    mix-blend-mode: unset !important;
}

.steaming-slide .order-bnt {
    margin-top: 10px;
    background: var(--dark-wheat);
    color: var(--wheat3);
}

.steaming-slide .order-bnt:hover {
    background: var(--black);
    color: var(--white);
}

.steaming-slide-title {
    margin-top: 4px;
    color: var(--gray);

}

.steaming-slide-text {
    margin-top: 10px;
    font-weight: 300;
    font-size: 14px;
    line-height: normal;
    color: var(--gray);
    flex: 1 1 auto;


}


.certificate-section {
    min-height: 762px;
}


.certificate-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.certificate-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.programs-slide-title {
    margin-top: 15px;
}

.certificate-body {
    gap: 50px;
    justify-content: space-between;
}

.certificate-picture {
    max-width: 650px;
    width: 100%;
    height: 600px;
}

.certificate-info {
    max-width: 542px;
    width: 100%;
}

.certificate-title {
    font-family: 'Snell Roundhand', sans-serif;
    font-weight: 500;
    font-size: 64px;
    line-height: 100%;
    color: var(--gray);


}

.certificate-text {
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--gray);

}

.feedback-request-form {
    margin-top: 50px;
}

.feedback-inputs-block > :not(:last-child) {
    margin: 0 0 20px 0;
}

.feedback-label {
    width: 100%;
    height: 42px;
}

.feedback-label input {
    width: 100%;
    height: 100%;
    background: var(--wheat3);
    border: 2px solid var(--dark-wheat);
    border-radius: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: var(--dark-wheat);
    transition: .3s;
    padding: 0 20px;

}

.feedback-label input::placeholder {

}

.feedback-label input:focus {
    border: 2px solid var(--black);

}

.about-us-section {
    min-height: 1041px;
}
.gallery-section{
    min-height: 764px;

}
.gallery-bg{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.gallery-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
    object-position: 0;
}
.gallery-section .slider-arrow{
    display: none;
}
.about-us-bg {
    position: absolute;
    left: 0;
    top: 20px;
    width: 100%;
    height: 100%;
    z-index: -1;


}

.about-us-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-us-media {
    gap: 20px;
}

.about-us-picture {
    max-width: 630px;
    width: 100%;
    height: 801px;
}

.about-us-info {
    max-width: 630px;
    width: 100%;
}

.about-top-title {
    color: var(--gray);
}

.about-us-title {
    font-family: 'Snell Roundhand', sans-serif;
    font-weight: 500;
    font-size: 64px;
    line-height: 100%;
    color: var(--gray);
    margin-top: 50px;

}

.about-us-texts {
    margin-top: 30px;
}

.about-us-texts > :not(:last-child) {
    margin: 0 0 15px 0;
}

.about-us-texts p {
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: var(--gray);


}

.about-us-texts p b {
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: var(--gray);
}

.about-us-texts p span {
    display: block;
    position: relative;
    margin-left: 15px;
}


.about-us-texts p span::after {
    content: "";
    position: absolute;
    left: -10px;
    top: 5px;
    width: 3px;
    height: 3px;
    background: var(--gray);
    border-radius: 50%;

}

.excursion-btn {
    padding: 14px 100px;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--dark-wheat);
    background: var(--wheat3);
    border: 2px solid var(--dark-wheat);
    border-radius: 10px;
    margin-top: 50px;
    transition: .3s;


}

.excursion-btn:hover {
    background: var(--black);
    color: var(--white);
}

.about-us-gallery {
    position: relative;
}

.about-us-gallery .swiper {
    position: unset !important;
}

.gallery-slide {
    max-width: 240px;
    height: 426px;
    width: 100%;
    border: 1px solid var(--wheat);
    border-radius: 30px;
    transition: .3s;
    cursor: pointer;

}

.gallery-slide:hover {
    opacity: 0.7;
}

.gallery-slide img {
    object-fit: cover;
    border-radius: 30px;
    height: 100%;
}

.apps-media-mobile {
    display: none;
    max-width: 387px;
    width: 100%;
    height: 738px;
}

.apps-media-mobile img {
    object-fit: cover;
}

.certificate-picture-tablet {
    display: none;
}

.about-arrow-next {
    top: 46% !important;
}

.about-arrow-prev {
    top: 46% !important;

}

.about-mobile-titles {
    display: none;
}


@media (max-width: 1600px) {
    .hero-phone {
        top: 404px;
    }

    .hero-record {
        top: 533px;


    }
}

@media (max-width: 1400px) {
    .hero-phone {
        top: 304px;
    }

    .hero-record {
        top: 433px;

    }
}

@media (max-width: 1200px) {
    .hero-body {
        padding-top: 300px;
    }

    .hero-phone {
        top: 204px;
    }

    .hero-record {
        top: 333px;

    }

    .about-mobile-titles {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-us-titles {
        display: none;
    }


    .certificate-picture-tablet {
        display: block;
        margin-top: 40px;
    }

    .certificate-info {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .certificate-text {
        text-align: center;
    }

    .apps-body {
        gap: 20px;
    }

    .certificate-picture {
        display: none;
    }


    .about-us-media {
        flex-direction: column;
        align-items: stretch;
        gap: 30px;
    }

    .about-us-info {
        max-width: 100%;
    }

    .about-us-picture {
        margin: 0 auto;
    }
}

@media (max-width: 992px) {
    .apps-media {
        display: none;
    }


    .apps-media-mobile {
        display: flex;
    }

    .apps-info {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .app-download-methods {
        width: 100%;
        align-items: center;
    }


}

@media (max-width: 768px) {
    .hero-title {
        font-size: 26px;
        line-height: 115%;
        letter-spacing: -1px;
        text-align: center;

    }
    .programs-video {
        height: 320px;
        margin-top: 60px;
    }
    .programs-body-heir{
        margin-top: 60px;

    }
    .hero-bnt {
        margin-top: 40px;
        border: 2px solid var(--wheat);
        padding: 15px 72px;
        font-size: 14px;
        line-height: 114%;

    }
    .video-fon{
        border-radius: 20px;
    }
    .video-fon img{
        border-radius: 20px;

    }
    .programs-video{
        border-radius: 20px;

    }
    .programs-play-icon{
        max-width: 80px;
        height: 80px;
    }
    .programs-play-icon img{
        object-fit: contain;
    }
    .videoPlayer {
        border-radius: 0 0 20px 20px;
        object-position: center;

    }

    .hero-section {
        min-height: 700px;
    }

    .hero-body {
        padding-top: 444px;
    }

    .hero-tag {
        max-width: 46px;
        height: 46px;
        border-radius: 13px 0 0 13px;

    }

    .hero-record {
        font-weight: 700;
        font-size: 6.48px;
        line-height: 100%;
        top: 399px;

    }

    .hero-phone {
        top: 341px;

    }

    .icon-phone {
        font-size: 16px;
    }
}


@media (max-width: 576px) {
    .apps-section {
        min-height: unset;
    }

    .feedback-request-form {
        width: 100%;
        margin-top: 40px;
    }

    .about-us-texts {
        margin-top: 0;
    }

    .bnt-send {
        margin-top: 20px;
        width: 100%;
    }

    .about-us-title {
        margin-top: 20px;
        font-size: 36px;
        line-height: 100%;

    }

    .about-us-texts > :not(:last-child) {
        margin: 0 0 10px 0;
    }

    .about-us-picture {
        height: 427px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .about-us-texts p {
        font-size: 12px;
        line-height: 120%;

    }

    .gallery-slide {
        height: 266px;
        border-radius: 18px;
    }

    .programs-pagination .swiper-pagination-bullet {
        width: 6px !important;
        height: 6px !important;
    }
    .gallery-pagination .swiper-pagination-bullet {
        width: 6px !important;
        height: 6px !important;
    }


    .steaming-pagination .swiper-pagination-bullet {
        width: 6px !important;
        height: 6px !important;
    }


    .gallery-slide img {
        width: 100%;
        border-radius: 18px;

    }

    .excursion-btn {
        margin-top: 40px;
        width: 100%;
        padding: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .certificate-picture-tablet {
        max-width: 260px;
        height: 260px;
        width: 100%;
        margin: 40px auto 0;

    }

    .certificate-title {
        font-size: 36px;
        line-height: 100%;

    }

    .certificate-info {
        align-items: stretch;
    }

    .certificate-text {
        text-align: start;
        font-size: 14px;
        line-height: 150%;

    }

    .certificate-bg img {
        object-position: 0;
    }

    .about-us-section {
        margin-top: -40px;
    }

    .massages-slide {
        min-height: 494px;
    }

    .massages-slide-title {
        margin-top: 15px;
    }

    .app-download-methods {
        margin-top: 10px;
    }

    .apps-media-mobile {
        margin: 20px auto 0;
        height: 346px;
        align-items: center;
        justify-content: center;

    }

    .apps-bg img {
        border-radius: 0;
    }

    .apps-texts {
        margin-top: 20px;
    }

    .apps-texts p {
        font-size: 14px;
        line-height: 120%;

    }

    .download-method img {
        max-width: 93px;
        height: 23px;
    }

    .download-method {
        max-width: 260px;
        height: 42px;
    }

    .apps-title {
        font-size: 36px;
        line-height: 100%;
        text-align: start;

    }

    .apps-info {
        align-items: stretch;
    }

    .massages-slide-text {
        margin-top: 7px;
        font-size: 11px;
        line-height: 130%;

    }

    .massages-pagination .swiper-pagination-bullet {
        width: 6px !important;
        height: 6px !important;

    }

    .massages-section {
        min-height: 680px;
        margin-top: -20px;
    }

    .massages-slide {
        padding-bottom: 16px;
    }


    .apps-texts p:last-child {
        margin-top: 10px;
    }

    .programs-slide {
        min-height: 455px;
    }

    .programs-slide-texts {
        margin-top: 7px;
    }
    .gallery-section{
        min-height: unset;
    }

    .certificate-section {
        min-height: 813px;
    }

    .programs-slide-texts p {
        font-size: 11px;
        line-height: 100%;
        margin-left: 10px;


    }

    .text-slide-texts p {
        font-size: 11px;
        line-height: 100%;
    }

    .slide-sub-title {
        font-size: 16px;
        line-height: normal;

    }

    .text-slide-title {
        font-size: 20px;
        line-height: normal;
    }

    .programs-text-slide {
        max-height: 455px;

    }

    .programs-text-slide {
        padding: 16px 16px 0 16px;

    }

    .programs-slide-container {
        padding-bottom: 16px;
    }

    .text-slide-texts > :not(:last-child) {
        margin: 0 0 8px 0;
    }

    .programs-slide-texts p::after {
        content: "";
        position: absolute;
        left: -10px;
        top: 4px;
        width: 2px;
        height: 2px;
        background: var(--gray);
        border-radius: 50%;

    }

    .massages-slider {
        overflow: unset;
    }

    .SPA-programs-section {
        min-height: 641px;
    }

    .SPA-programs-section .container {
        padding: 0 10px;
    }

    .apps-bg {
        top: -20px;
    }

    .steaming-slide-text {
        font-weight: 300;
        font-size: 11px;
        line-height: 130%;

    }

    .steaming-slide {
        min-height: 424px;
        border-radius: 20px;
    }

    .steaming-slide-decor img {
        border-radius: 20px;
    }


    .programs-bg{
        top: -20px;

    }
    .programs-bg img{
        border-radius: 20px;
    }
    .gallery-bg img{
        border-radius: 20px;

    }
    .programs-slider {
        padding: 0 ;
        overflow: unset;
    }
    .steaming-pagination{
        margin-top: 30px !important;
    }

}

@media (max-width: 400px) {


}